<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="" color="tertiary" fill="outline"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">
      About the App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row" text-center style="text-align-last: center;">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <img src="/assets/img/logo.png" style="width:60%"><br><br>
      <ion-label style="text-align:center;font-size:18px;" color="primary">COVID 19<br>TRACKER</ion-label><br>
      <small>{{ _user.version }}</small>
      <div class="col-sm-4"></div>
    </div><hr>

    <ion-label><span color="primary"><strong>Lorem Ipsum</strong></span> dolor sit amet, consectetur adipiscing elit. Vestibulum quis nibh at neque suscipit pretium. Cras venenatis luctus mi non imperdiet. Curabitur at nisl vitae purus interdum dapibus. Aenean nec malesuada leo. Duis nisl nulla, sollicitudin eget consequat et, varius et nisl.</ion-label><br><br><br>

    <div class="text-center">
      <ion-label color="dark"><strong>TEAM LAC</strong></ion-label><br>
      <small>Gordon College</small><br><br><br>
    </div>
  </div>

  
</ion-content>
