<ion-header>
    <ion-toolbar>
      <ion-title>Show Customer</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button text="Back" icon="" color="success" fill="outline"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ionic its works</ion-card-subtitle>
      <ion-card-title>{{id}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{cdate}}
      {{temp}}
      {{tag}}
    </ion-card-content>
  </ion-card>
  </ion-content>
  