<div class="card-position"> 

<ion-content [fullscreen]="true" class="card-position">
  <ion-card>
    <ion-card-header class="text-center">
      <div class="img-container">
        <img [src]="img$" class="img-set" />
      </div>
    </ion-card-header>

    <ion-card-content>
      
        <div style="text-align: left !important; padding-left: 10px;"><span style="color: black;"><strong>Email</strong></span></div>
        <ion-item>
          <ion-input type="text" [value]="" [(ngModel)]="email" required placeholder="example@domain.com"></ion-input>
        </ion-item><br>
        <div style="text-align: left !important; padding-left: 10px;"><span style="color: black;"><strong>Password</strong></span></div>
        <ion-item>
          <ion-input type="password" [value]="" [(ngModel)]="password" required placeholder="Your password here" clearOnEdit="false"></ion-input>
        </ion-item><br>
            <ion-button expand="block" shape="round" (click)="proseslogin()" >Sign In</ion-button>
            <ion-button  color="warning" expand="block" shape="round" (click)="formRegister()">Register</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

</div>
