<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="" color="success" fill="outline"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">
      DOH Guidelines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row" text-center style="text-align-last: center;">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <img src="/assets/dohlogo.svg" style="width:60%"><br><br>
      <ion-label style="text-align:center;font-size:18px;" color="primary">DEPARTMENT OF HEALTH<br>RETURN TO WORK<br>INTERIM GUIDELINES</ion-label><br>
      <small>Department Memorandum<br>as of May 11, 2020</small>
      <div class="col-sm-4"></div>
    </div><hr>

    <ion-label color="dark"><strong>Employers should increase the resilience of the employees/staff</strong></ion-label>
    <p>Encourage the employees to eat a balanced diet and adopt healthy eating practices</p>
    <p>Encourage employees to exercise regularly and provide opportunity for exercise</p>
    <p>Institute activities that will cater to the mental health of the employees and staff. Allow for opportunity for virtual socialization, etc</p><br>

    <ion-label color="dark"><strong>Employers should put mechanisms to reduce transmission of COVID-19</strong></ion-label>
    <p>Encourage the wearing of masks at all times</p>
    <p>Impose regular handwashing and encourage proper hand hygiene</p>
    <p>Remind employees and staff to practice cough etiquette and respiratory hygiene</p><br>

    <ion-label color="dark"><strong>Employers should put mechanisms to reduce contact and infeciousness</strong></ion-label>
    <p>Ensure temperature and symptom monitoring of staff reporting for work</p>
    <p>Establish referral network for employees who will develop symptoms</p>
    <p>Enforce physical distancing</p>
    <p>Visual reminders on infection control and prevention should be posted</p>
    <p>Work place should be disinfected properly and regularly</p>
    <p>Work place should have good ventilation</p><br>

    <ion-label color="dark"><strong>For workers/emloyees who fall under the vulnerable workforce, alternative workplace accomodations can be provided like:</strong></ion-label>
    <p>Work from Home arrangements</p>
    <p>Working in shifts to reduce number of employees present</p>
    <p>Requiring the skeletal workforce only to report to work</p>
    <p>Shelter near the workplace for employees</p><br>

    <ion-label color="dark"><strong>Screening of Returning Employees</strong></ion-label>
    <p>Returning employees and workers physically reporting to their place of employment shall be screened and assessed for signs and symptoms of COVID19</p>
    <ul>
      <li>sore throat</li>
      <li>body pains</li>
      <li>headache</li>
      <li>fever</li>
      <li>flu-like symptoms: cough, colds, and fatigue</li>
    </ul>
    <p>The following exposures should also be assessed:</p>
    <ul>
      <li>Face-to-face contact with a confirmed case within 1 meter and for more than 15 minutes</li>
      <li>Direct physical contact with a confirmed case</li>
      <li>Direct care for a patient with a probable/confirmed COVID-19 without using proper PPEs</li>
    </ul>
    <p>A worker/emloyee stays or resides in an area where community transmission is still present</p>
    <p>A worker /employee travelled from a country or area where community transmission is still present to an area without sustained community transmission</p>
    <p>Actions to be taken for symptom screening:</p>
    <ul>
      <li>With symptoms during the 14 days before Work Resumption?</li>
      <li>With symptoms on the date of Work Resumption?</li>
    </ul>
    <p>Not allowed to physically return to work and must consult primary care provider</p>
    <p>Complete a 14-day Self Quarantine. Present a Certificateo of Quarantine Completion at their respective workplace after 14 days</p>
    
    <small><strong><span style="font-style: italic;">Source:</span> DOH Memorandum <a href="bit.ly/DMReturnToWork">bit.ly/DMReturnToWork</a></strong></small>


  </div>

</ion-content>
