.txt-input {
  border-radius: 15px !important;
  // padding-left: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #008127;
  // border-bottom: 0px !important;
  box-shadow: none !important;
}

.item-content {
  font-size: 1rem !important; 
  margin-top: 10px; 
  display: block;
}

.item-label {
  font-size: 0.8rem !important;
}

.img-container {
  align-items: center;
  text-align: center;
  font-style: italic;
  color: blue;
}